[submodule "ait"]
	path = ait
	url = https://pm.bsc.es/gitlab/ompss-at-fpga/ait.git
[submodule "extrae"]
	path = extrae
	url = https://pm.bsc.es/gitlab/ompss-at-fpga/extrae.git
[submodule "mcxx"]
	path = mcxx
	url = https://pm.bsc.es/gitlab/ompss-at-fpga/mcxx.git
[submodule "nanos6-fpga"]
	path = nanos6-fpga
	url = https://pm.bsc.es/gitlab/nanos6/forks/nanos6-fpga.git
[submodule "xdma"]
	path = xdma
	url = https://pm.bsc.es/gitlab/ompss-at-fpga/xdma.git
[submodule "xtasks"]
	path = xtasks
	url = https://pm.bsc.es/gitlab/ompss-at-fpga/xtasks.git
