[submodule "xdma"]
	path = xdma
	url = ../xdma.git
[submodule "xtasks"]
	path = xtasks
	url = ../xtasks.git
[submodule "nanos6-fpga"]
	path = nanos6-fpga
	url = ../nanos6-fpga.git
[submodule "llvm"]
	path = llvm
	url = ../llvm.git
[submodule "ait"]
	path = ait
	url = ../ait.git
[submodule "ompss-at-fpga-kernel-module"]
	path = ompss-at-fpga-kernel-module
	url = ../ompss-at-fpga-kernel-module.git
